.container {
  text-align: center;
}
h1 {
  color: steelblue;
}
.image {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 0 15px;
}
.image img {
  width: 100%;
  height: 220px;
}
.item {
  width: 32%;
  border: 1px solid lightblue;
  transition: transform 0.2s;
  background-color: aliceblue;
  border-radius: 8px;
  overflow: hidden;
  opacity: 1;
}
.item:hover {
  transform: scale(1.2);
  background-color: lightcyan;
}
.item:hover .gallery {
  opacity: 0.8;
}
.desc {
  color: steelblue;
}
.item:hover .desc {
  color: cadetblue;
}
