$primary-color: grey;
$secondary-color: white;
$font-weight: (
  "regular": 200,
  "italic": 400,
  "bold": 800,
);
@function fontweight($weightname) {
  @return map-get($font-weight, $weightname);
}

@mixin styleflex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin screenresolution {
  @media (max-width: 800px) {
    @content;
  }
}

@mixin stylefont {
  font-size: 30px;
  font-style: italic;
}

.main {
  background-color: $primary-color;
  @include screenresolution() {
    background-color: pink;
    @include stylefont;
  }
  &_child {
    // background-color: lightpink;
    @include styleflex;
    &_paragraph {
      color: $secondary-color;
      width: 80%;
      margin: 0 auto;
      font-weight: fontweight("regular");
    }
  }
}
